@{
    ViewData["Title"] = "Kitoblar";
}

<div class="latest-news-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Kitoblar</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Eng sara &amp; Bepul</h2>
                    <h3 class="gray-bg">Kitoblar</h3>
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        There are many variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="image">
                        <img class="thumb" src="/assets/images/breadcrumb/breadcrumb-bg.jpg" alt="book1">
                    </div>
                    <div class="content-body">
                        <a class="cat" href="#">dasturlash</a>
                        <h4 class="title">
                            <a href="blog-single-sidebar.html">
                                How to win any job you want. Get
                                started with 5 steps.
                            </a>
                        </h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's.
                        </p>
                        <div class="button">
                            <a href="blog-single-sidebar.html" class="btn"><i class="fal fa-arrow-alt-to-bottom" style="margin-right: 7px;"></i> Yuklab olish</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="image">
                        <img class="thumb" src="/assets/images/breadcrumb/breadcrumb-bg.jpg" alt="book1">
                    </div>
                    <div class="content-body">
                        <a class="cat" href="#">dasturlash</a>
                        <h4 class="title">
                            <a href="blog-single-sidebar.html">
                                How to win any job you want. Get
                                started with 5 steps.
                            </a>
                        </h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's.
                        </p>
                        <div class="button">
                            <a href="blog-single-sidebar.html" class="btn"><i class="fal fa-arrow-alt-to-bottom" style="margin-right: 7px;"></i> Yuklab olish</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-news custom-shadow-hover wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="image">
                        <img class="thumb" src="/assets/images/breadcrumb/breadcrumb-bg.jpg" alt="book1">
                    </div>
                    <div class="content-body">
                        <a class="cat" href="#">dasturlash</a>
                        <h4 class="title">
                            <a href="blog-single-sidebar.html">
                                How to win any job you want. Get
                                started with 5 steps.
                            </a>
                        </h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's.
                        </p>
                        <div class="button">
                            <a href="blog-single-sidebar.html" class="btn"><i class="fal fa-arrow-alt-to-bottom" style="margin-right: 7px;"></i> Yuklab olish</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>