@{
    ViewData["Title"] = "Aloqa";
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Aloqa</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a asp-controller="home" asp-action="index">Bosh sahifa</a></li>
                    <li>Aloqa</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-12">
                        <div class="form-main">
                            <h3 class="inner-title left">Fikrlaringizni yuboring</h3>
                            <form class="form" method="post" action="assets/mail/mail.php">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <input name="name" type="text" placeholder="Ismingiz" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <input name="subject" type="text" placeholder="Xabar mavzusi" required="required">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <div class="form-group">
                                            <input name="email" type="email" placeholder="Email manzilingiz" required="required">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group message">
                                            <textarea name="message" placeholder="Xabar matni"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group button">
                                            <button type="submit" class="btn ">Yuborish</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="contact-info">
                            <div class="single-head">
                                <h3 class="inner-title">Ma'lumotlar</h3>
                                <div class="single-info">
                                    <i class="lni lni-envelope"></i>
                                    <ul>
                                        <span>Email</span>
                                        <li>procodeTeam@gmail.com</li>
                                        <li>procodeHelp@gmail.com</li>
                                    </ul>
                                </div>
                                <div class="single-info">
                                    <i class="lni lni-envelope"></i>
                                    <ul>
                                        <span>Call Us</span>
                                        <li><a href="#">+1 756 445 5658</a></li>
                                        <li><a href="#">+1 125 458 5555</a></li>
                                    </ul>
                                </div>
                                <div class="single-info">
                                    <i class="lni lni-map"></i>
                                    <ul>
                                        <span>Mail Us</span>
                                        <li><a href="mailto:support@yourmail.com">support@yourmail.com</a></li>
                                        <li><a href="mailto:contact@yourmail.com">contact@yourmail.com</a></li>
                                    </ul>
                                </div>
                                <div class="single-info">
                                    <i class="lni lni-map"></i>
                                    <ul>
                                        <span>Office Hour</span>
                                        <li>Monday - Friday (9.00-19.00)</li>
                                        <li>Sunday - Thusday (10.00-06.00)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>