@model ContentViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Blog Single</h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy text
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a asp-controller="home" asp-action="index">Bosh sahifa</a></li>
                    <li><a asp-controller="home" asp-action="blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                <div class="single-inner">
                    <div class="post-thumbnils">
                        <img src="@($"https://img.youtube.com/vi/{Model.Content.YoutubeVideoId}/hqdefault.jpg")" alt="Content">
                    </div>
                    <div class="post-details">
                        <div class="detail-inner">

                            <ul class="custom-flex post-meta">
                                <li>
                                    <a href="#">
                                        <i class="lni lni-calendar"></i>
                                        20th March 2023
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="lni lni-comments"></i>
                                        35 Comments
                                    </a>
                                </li>
                                <li>
                                </li>
                            </ul>
                            <h2 class="post-title">
                                How we can capture the market sales
                            </h2>
                            <p>
                                We denounce with righteous indige nation and dislike men who are so beguiled and demo
                                realized by the charms of pleasure of the moment, so blinded by desire, that they
                                cannot
                                foresee the pain and trouble that are bound to ensue; and equal blame belongs to
                                those
                                who fail in their duty through weakness of will, which is the same as saying through
                                shrinking from toil and pain. These cases are perfectly simple and easy to
                                distinguish.
                                In a free hour, when our power of choice is untrammelled and when nothing prevents
                                our
                                being able to do what we like best, every pleasure is to be welcomed and every pain
                                avoided.
                            </p>
                            <h3>A cleansing hot shower or bath</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.
                            </p>
                            <h3>Setting the mood with incense</h3>
                            <p>
                                Remove aversion, then, from all things that are not in our control, and transfer it
                                to
                                things contrary to the nature of what is in our control. But, for the present,
                                totally
                                suppress desire: for, if you desire any of the things which are not in your own
                                control,
                                you must necessarily be disappointed; and of those which are, and which it would be
                                laudable to desire, nothing is yet in your possession. Use only the appropriate
                                actions
                                of pursuit and avoidance; and even these lightly, and with gentleness and
                                reservation.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure
                                dolor in reprehenderit.
                            </p>
                            <p>
                                Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                laborum.
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
                            </p>

                            <div class="post-tags-media">
                                <div class="post-tags popular-tag-widget mb-xl-40">
                                    <h5 class="tag-title">Teglar</h5>
                                    <div class="tags">
                                        <a href="#">Popular</a>
                                        <a href="#">Design</a>
                                        <a href="#">UX</a>
                                    </div>
                                </div>
                                <div class="post-social-media">
                                    <h5 class="share-title">Ijtimoiy tarmoqlarda ulashing</h5>
                                    <ul class="custom-flex">
                                        <li>
                                            <a href="#" class="facebook">
                                                <i class="lni lni-facebook-original"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="twitter">
                                                <i class="lni lni-twitter-original"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="google">
                                                <i class="lni lni-google"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="pinterest">
                                                <i class="lni lni-pinterest"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="vimeo">
                                                <i class="lni lni-vimeo"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="comment-form">
                            <h3 class="comment-reply-title">Fikringizni qoldiring</h3>
                            <form action="#" method="POST">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-box form-group">
                                            <textarea name="#" rows="6" class="form-control form-control-custom" placeholder="Matnni kiriting"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="button">
                                            <button type="submit" class="btn mouse-dir white-bg">Yuborish<span class="dir-part"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
