@model IndexViewModel
@{
    ViewData["Title"] = Model.PageTitle;
}

<!-- Start Hero Area -->
<section class="hero-area">
    <div class="verticle-lines">
        <div class="vlines one"></div>
        <div class="vlines two"></div>
        <div class="vlines three"></div>
        <div class="vlines four"></div>
    </div>
    <!-- Single Slider -->
    <div class="hero-inner">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 co-12">
                    <div class="Bosh sahifa-slider">
                        <div class="hero-text">
                            <h5 class="wow fadeInUp" data-wow-delay=".3s">Eng yaxshilar bilan birga</h5>
                            <h1 class="wow fadeInUp" data-wow-delay=".5s">
                                Procode bilan professional ta'lim
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay=".7s">Biz bilan professionallardan bepul ta'lim oling. O'z imkoniyat va chegaralaringizni yanada kengaytiring.</p>
                            <div class="button wow fadeInUp" data-wow-delay=".9s">
                                <a href="about-us.html" class="btn">Hoziroq boshlang</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="hero-image">
                        <img class="shape3" src="assets/images/hero/shape2.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>
<!--/ End Hero Area -->
<!-- Start Services Area -->
<section class="features section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s">Biz haqimizda</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Barchasi faqat siz uchun</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">Yetuk mutaxasislarimiz o'z bilimlarini ulashishga har qachon tayyor.</p>
                    <h3 class="overlay-text">Procode</h3>
                </div>
            </div>
        </div>
        <div class="single-head">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="single-feature">
                        <span class="serial">01</span>
                        <h5>Jonli muloqot</h5>
                        <h3><a href="#">Professional mutaxassislar bilan mahorat darslari</a></h3>
                        <p>
                            Biz o'z bilim va tajribalarini ulashishga tayyor bo'lgan yetuk mutaxassislarimiz
                            bilan birga soha bo'yicha mahorat darslarini tashkil etamiz.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="single-feature">
                        <span class="serial">02</span>
                        <h5>Ulkan auditoriya</h5>
                        <h3><a href="#">Muammolar & ularning yechimlari</a></h3>
                        <p>
                            IT sohasining har qanday yo'nalishida faoliyat yurituvchi mutaxassis va ilmi toliblarni platformamizda bilim almashishlariga imkon yaratamiz.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="single-feature">
                        <span class="serial">03</span>
                        <h5>Bepul xizmat</h5>
                        <h3><a href="#">Qulay muhitda bepul ta'lim olish</a></h3>
                        <p>Platformamizdagi har qanday kontentimizga bir umrlik bepul foydalanish va ulashish imkoniyatini taqdim etamiz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->
<!-- Start About Us Area -->
<section class="about-us section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-12">
                <div class="about-left">
                    <div class="section-title align-left">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Eng yaxshilar siz uchun</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Jonli muloqotlarda yangi qirralarni zabt eting.</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">Biz IT sohasida ko'plab duch kelinadigan muammo va qiyinchiliklarning professionallar tomonidan yechimlarni bepul va sifatli jonli mahorat darslari tarzida ulashib boramiz.</p>
                        <p class="wow fadeInUp" data-wow-delay=".8s">O'z bilim va tajribalarini ulashishga tayyor professional mentorlar bilan bo'lib o'tadigan bepul mahorat darslarimizda qatnashing va imkoniyatlaringizni yanda kengaytiring.</p>
                        <div class="author wow fadeInUp" data-wow-delay="1s">
                            <img src="assets/images/about/author.png" alt="#">
                            <div class="content">
                                <h5>Ravshan Sadikov, <a href="#">@("@iRavshan")</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="about-right wow fadeInRight" data-wow-delay=".4s">
                    <img src="/assets/images/about/about-1.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /End About Us Area -->


<section class="intro-video-area overlay">
    <div class="container-fluid">
        <div class="video-inner ">
            <div class="row">
                <div class="col-12">
                    <div class="intro-video-play">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-12">
                                <div class="play-thumb wow zoomIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                                    <a href="https://www.youtube.com/watch?v=r44RKWyfcFw&amp;fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM" class="glightbox video"><i class="lni lni-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-title white-text">
                        <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Biz allaqachon boshladik</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Nega aynan biz bilan ?</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                            Yetuk bilim va tajribaga ega mahoratli ustozlardan ta'lim olish imkoniyatini qo'ldan boy bermang.
                            Har bir mahorat darsi siz uchun yangi bilimlarni egallash uchun imkon.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Start Pricing Table Area -->
<section class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s">Blog</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">So'nggi darslar</h2>
                    <h3 class="gray-bg">Blog</h3>
                    <p class="wow fadeInUp" data-wow-delay=".6s">Jonli tarzda bo'lib o'tadigan mahorat darslarimizda qatnashing va o'z imkoniyatlaringizni yanada kengaytiring.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <img src="/assets/images/breadcrumb/thumb.png" alt="" class="blog-thumbnail">
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp p-0" data-wow-delay=".4s">
                    <img src="/assets/images/breadcrumb/thumb.png" alt="" class="blog-thumbnail">
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp p-0" data-wow-delay=".6s">
                    <img src="/assets/images/breadcrumb/thumb.png" alt="" class="blog-thumbnail">
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp p-0" data-wow-delay=".2s">
                    <img src="/assets/images/breadcrumb/thumb.png" alt="" class="blog-thumbnail">
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp p-0" data-wow-delay=".4s">
                    <img src="/assets/images/breadcrumb/thumb.png" alt="" class="blog-thumbnail">
                </div>
                <!-- End Single Table-->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Table -->
                <div class="single-table wow fadeInUp p-0" data-wow-delay=".6s">
                    <img src="/assets/images/breadcrumb/thumb.png" alt="" class="blog-thumbnail">
                </div>
                <!-- End Single Table-->
            </div>
        </div>
    </div>
</section>
<!--/ End Pricing Table Area -->