<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Procode.uz</title>

    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/favicon/site.webmanifest">

    <link rel="stylesheet" type="text/css" href="/assets/css/assets.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/shortcodes/shortcodes.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link class="skin" rel="stylesheet" type="text/css" href="/assets/css/color/color-1.css">

    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous" />
</head>
<body>
    <div class="account-form">
        <div class="account-head" style="background-image: url('/assets/img/bgc.jpg');">
            <img src="/assets/images/logo/logo.png" alt="logo" class="brand">
        </div>
        <div class="account-form-inner">
            <div class="account-container">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/vendors/bootstrap/js/popper.min.js"></script>
    <script src="/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="/assets/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="/assets/vendors/counter/waypoints-min.js"></script>
    <script src="/assets/vendors/counter/counterup.min.js"></script>
    <script src="/assets/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="/assets/vendors/masonry/masonry.js"></script>
    <script src="/assets/vendors/masonry/filter.js"></script>
    <script src="/assets/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="/assets/js/functions.js"></script>
</body>
</html>