<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Procode.uz</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/assets/img/favicon/site.webmanifest">
    <link rel="stylesheet" href="~/styles/css/login.css">
    <link rel="stylesheet" href="~/styles/css/fonts.css">
</head>
<body>
    <div class="account-form">
        <div class="account-head" style="background-image: url('/assets/img/bgc.jpg');">
            <img src="/assets/img/logo.png" alt="logo" class="brand">
        </div>
        <div class="account-form-inner">
            <div class="account-container">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>