@{
    ViewData["Title"] = "Yangi post";
}

<div class="account-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
                <form class="card login-form inner-content" method="post">
                    <div class="card-body">
                        <div class="title">
                            <h3>Yangi post</h3>
                        </div>
                        <div class="input-head">
                            <label class="input-label">Sarlavha</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text">
                            </div>
                            <label class="input-label">Qisqacha tavsif</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text">
                            </div>
                            <label class="input-label">Teglar</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text">
                            </div>
                            <label class="input-label">Post matni</label>
                            <textarea id="default-editor"></textarea>
                        </div>
                        <div class="button">
                            <button class="btn" type="submit">Yaratish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

