@{
    ViewData["Title"] = "Saqlanganlar";
}

<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">iRavshan</h1>
                    <p>Saqlangan kontentlar</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a asp-controller="home" asp-action="index">Bosh sahifa</a></li>
                    <li><a asp-controller="home" asp-action="blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="section blog-single">
    <div class="container">
        <div class="row">
            <p class="text-center">Sizda hozircha saqlangan kontentlar mavjud emas</p>
        </div>
    </div>
</section>
