@model SettingsViewModel
@{
    ViewData["Title"] = "Sozlamalar";
}
<div class="account-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form inner-content" method="post">
                    <div class="card-body">
                        <div class="title">
                            <h3>Sozlamalar</h3>
                            <p>@($"@{User.Identity.Name}")<span class="status"></span></p>
                        </div>
                        <div class="input-head">
                            <label class="input-label">Foydalanuvchi nomi</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text">
                            </div>
                            <label class="input-label">Email</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input width-auto" id="exampleCheck1">
                                <label class="form-check-label">Email profilda ko'rsatilsin</label>
                            </div>
                            <label class="input-label">Bio</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text">
                            </div>
                            <label class="input-label">URL</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text">
                            </div>
                            <label class="input-label">Ish yoki o'qish manzilingiz</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text">
                            </div>
                            <label class="input-label">Yashash manzilingiz</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="button">
                            <button class="btn" type="submit">Yangilash</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form inner-content" method="post">
                    <div class="card-body">
                        <div class="title">
                            <h3>Parolni almashtirish</h3>
                        </div>
                        <div class="input-head">
                            <label class="input-label">Joriy parol</label>
                            <div class="form-group input-group">
                                <input asp-for="CurrentPassword" class="form-control" type="password">
                            </div>
                            <label class="input-label">Yangi parol</label>
                            <div class="form-group input-group">
                                <input asp-for="NewPassword" class="form-control" type="password">
                            </div>
                            <label class="input-label">Parolni tasdiqlang</label>
                            <div class="form-group input-group">
                                <input asp-for="ConfirmNewPassword" class="form-control" type="password">
                            </div>
                        </div>
                        <div class="button">
                            <button class="btn" type="submit">Yangilash</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form inner-content" method="post">
                    <div class="card-body">
                        <div class="title">
                            <h3>Hisobni o'chirish</h3>
                        </div>
                        <div class="input-head">
                            <label class="input-label delete-label">Hisobni o'chirish uchun <span>@User.Identity.Name</span> nomini tasdiqlang.</label>
                            <div class="form-group input-group">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="button">
                            <button class="btn delete-btn" type="submit">O'chirish</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>