@model RegisterViewModel 
@{
    ViewData["Title"] = "Registratsiya";
}

<div class="account-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form inner-content" method="post">
                    <div class="card-body">
                        <div class="title">
                            <h3>Registratsiya</h3>
                            <p>Hamjamiyatimizga qo'shilishning ayni vaqti.</p>
                        </div>
                        <div class="input-head">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group input-group">
                                        <input asp-for="Username" class="form-control" type="text" placeholder="Ismingiz">
                                        <span asp-validation-for="Username"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group input-group">
                                        <input asp-for="Email" class="form-control" type="email" placeholder="Email">
                                        <span asp-validation-for="Email"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group input-group">
                                <input asp-for="Password" class="form-control" type="password" placeholder="Parol yarating">
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group input-group">
                                <input asp-for="ConfirmedPassword" class="form-control" type="password" placeholder="Parolni tasdiqlang">
                                <span asp-validation-for="ConfirmedPassword"></span>
                            </div>
                        </div>
                        <div class="button">
                            <button class="btn" type="submit">Hisob yaratish</button>
                            <a class="btn alt" asp-controller="account" asp-action="signin">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
