@{
    ViewData["Title"] = "Register";
}


<div class="account-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
                <form class="card login-form inner-content" method="post">
                    <div class="card-body">
                        <div class="title">
                            <h3>Registratsiya</h3>
                            <p>Hamjamiyatimizga qo'shilishning ayni vaqti.</p>
                        </div>
                        <div class="input-head">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group input-group">
                                        <label><i class="lni lni-user"></i></label>
                                        <input class="form-control" type="text" placeholder="Ismingiz">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-group input-group">
                                        <label><i class="lni lni-envelope"></i></label>
                                        <input class="form-control" type="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group input-group">
                                <label><i class="lni lni-lock-alt"></i></label>
                                <input class="form-control" type="password" placeholder="Parol yarating">
                            </div>
                            <div class="form-group input-group">
                                <label><i class="lni lni-lock-alt"></i></label>
                                <input class="form-control" type="password" placeholder="Parolni tasdiqlang">
                            </div>
                        </div>
                        <div class="button">
                            <button class="btn" type="submit">Hisob yaratish</button>
                            <a class="btn alt" href="signin.html">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
